
.venv/
venv/
ENV/
env/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

.env
.env.*

.vscode/

*.log
*.sqlite3
*.db

*.pid
*.pid.lock
*.pidfile
docker-compose.override.yml

.DS_Store
Thumbs.db
desktop.ini

.coverage
htmlcov/
.tox/
.nox/
pytest_cache/
coverage.xml
.cache/

build/
dist/
*.egg-info/
