fastapi==0.111.0
uvicorn[standard]==0.29.0

# DB
asyncpg==0.29.0
SQLAlchemy==2.0.29
pgvector==0.2.5           # incluye tipos, no necesitas sqlalchemy-pgvector

# IA
torch==2.3.0
open-clip-torch==2.24.0   # reemplaza git+https://github.com/openai/CLIP.git
transformers==4.41.0
numpy==1.26.4
pillow==10.3.0
scikit-learn==1.5.0
umap-learn==0.5.7         # opcional, cae en PCA si falla
numba==0.61.2             # requerido por umap
scipy==1.13.1

# Utilidades
httpx==0.27.0
tqdm==4.66.4
python-multipart==0.0.9
matplotlib==3.8.4
